
.projects_list img{
    min-height: 300px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
}
.projects_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,clamp(300px,30%,1000px));
    gap: 20px;
    padding: 2rem;
    justify-content: center;
    
    text-shadow: 0px 0px 1px black;
    padding-top: 4rem;
    scroll-margin-top: 100px;
}

.project_card a{
    display: block;
    color: black;
    background-color: rgba(240, 248, 255, 0.829);
    width: 100%;
    text-align: center;
    padding: 1rem;
    text-shadow: 0px 0px 1px white;
    font-size: 1.1rem;
}
.project_div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    padding: 1rem 0;
}
.project_card h3{
    width: 100%;
    color: white;
    position: absolute;
    top: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0px 0px 1px white;
}
.project_card{
    width: 300px;
    height: 300px;
    background-color: black;
    position: relative;
}