.skills_div{
    display: grid;
    grid-template-columns: repeat(auto-fit,clamp(250px,40%,1000px));
    gap: 30px;
    padding-top: 1rem;
    justify-content: center;
    
    text-shadow: 0px 0px 1px black;
}
.progress_label{
    margin: 0 auto; 
    color: white;
    
    text-shadow: 0px 0px 5px white;
}
.progress_container{
    height: 20px;
    background-color: white;
    border-radius: 20px;
}
.skills_text{
    padding: 1rem 0;
    
    scroll-margin-top: 100px;
}