@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;800&display=swap');
h1,h2,h3{
    font-family: 'EB Garamond', serif;
}
p{
    font-size: 1.3rem;
}
ul{
    font-size: 1.2rem;
}
html{
    scroll-behavior: smooth;
    
}
.App{
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: 'Raleway', sans-serif;
    
    font-size: 1rem;
}
.grid1To4{
    display: grid;
    grid-template-columns: 1fr 4fr;

}
.nav_parent{
    position: relative;
    display: flex;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
}

